body{
	background: url("fond_site.jpg") no-repeat fixed 50% 0%,black;
}
h1,a
{
    color: white;
	font-size: 390%;
	text-align: center;
	text-shadow: 6px 6px 10px black;
	letter-spacing: 8.5px;
}
p{
	color: white;
	text-shadow: 6px 6px 10px black;
	font-size:300%;
	opacity: 0.5;
	background-color: black;
	text-align:center;
}
h3{
	font-size: 100%;
	text-shadow: 6px 6px 8px white;
	text-align:center;
}
h5{
	text-align: left;
	color: grey;
	margin-top: 24%;
}

/*@keyframes slidein 
{
  from {
	width:100%;
	margin-left: 100%;
  }
  to {
    margin-left:-100%;
    width: 100%;
  }
}
